/* navbar--------------- */
.navbar{
    height: 5rem;
    margin-bottom: 3rem;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 19%);
}
.navbar > .container-fluid{
    padding: 0 8rem;
}

/* carousel */
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

/* main content */
.prod-h{
    padding: 1rem 8rem;
}

#products-grid{
    margin: 1rem 8rem;
}
.product-div{
    border: 1px solid black;
    
}