/* navbar--------------- */
.navbar{
    height: 5rem;
    margin-bottom: 3rem;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 19%);
}
.navbar > .container-fluid{
    padding: 0 8rem;
}
.navbar-brand > img{
    height: 8vh;
}

/* carousel */
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

/* main content */
.prod-h{
    padding: 1rem 8rem;
}

#products-grid{
    margin: 1rem 8rem;
}
/* for small screens */
@media (max-width: 750px) {
    .prod-h{
        padding: 1rem 4rem;
    }    
    #products-grid{
        margin: 1rem 4rem;
    } 
}
@media (max-width: 750px) {
    .prod-h{
        padding: 1rem 2rem;
    }    
    #products-grid{
        margin: 1rem 2rem;
    }
}
.product-div{
    overflow:hidden;
}
.product-div:hover{
    /* this is bootstrap's shadow-lg CSS */
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    cursor: pointer;
}
.product-div > img{
    object-fit:cover;
    height: 10rem!important;
    width: auto!important;
}
a {
    color: inherit;
    text-decoration: none;
  }